* {
    appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* basic reset */
html, body, ul {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: arial, sans-serif;
    max-width: 100%;
    width: 100%;
}

/* Top Nav Bar */
/* width & height of nav bar */
.nav {
    max-height: 50px;
    width: auto;
    height: 100%;
}

/* list items positioning */
.nav-list {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: 12px 6px 0 0;
}

/* adds spacing between each list item / removes bullets */
li {
    float: left;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

/* top nav text effects */
.nav-list a {
    text-decoration: none;
    font-size: 14px;
    color: #222;
}

/* grid and sign in button positioning */
.nav-extras {
    float: right;
    display: inline-block;
    padding: 12px 6px 0 0;
}

/* inner positioning for grid dots */
.grid-dots {
    outline: none;
    color: #5f6368;
    position: relative;
    margin-right: 55px;
}

/* dots sizing & hover border setup */
.dots {
    position: absolute;
    height: 23px;
    width: 23px;
    color: #5f6368;
    border: solid 1px transparent;
    border-radius: 50%;
    border-width: 10px;
    margin-top: -3px;
}

/* dots hover effect */
.dots:hover {
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    border-radius: 50%;
    border-width: 10px;
}

/* sign in button design */
#SignIn {
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 0 24px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#SignIn:hover {
    background: #2779e4;
}



/* Logo / Search Bar - fix all dis for resizing issues (Google logo fixed)*/
/* overall center div */
.center {
    height: auto;
    display: block;
}

/* google logo positioning */
#logo {
    margin-top: 170px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
}

/* search bar positioning */
form {
    display: flex;
    align-items: center;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    height: 45px;
    margin: auto;
    width: 40%;
}

form:hover {
    box-shadow: #dfe1e5 0 0 5px 1px;
}

/* search bar style */
#searchBar {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 15px 5px;
}

/* search bar magnifying icon */
#searchIcon {
    font-size: 16px;
    color: #a0a0a0;
    margin-left: 16px;
}

/* search bar mic icon */
#micIcon {
    margin-right: 15px;
    height: 26px;
    width: 26px;
    padding-left: 10px;
}

/* form buttons style & positioning */
#GoSearch, #Lucky {
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    margin: auto;
}

/* google search button positioning */
#GoSearch {
    display: inline-flex;
    justify-content: center;
}

#GoSearch:hover, #Lucky:hover {
    border: 1px solid #e6e6e6;
}



/* Footer Navigation Bar */
/*
.footer {
    min-height: 6%;
    height: auto;
    background-color: #f5f5f5;
    align-items: center;
    display: flex;
    flex-direction: row;
    word-spacing: 30px;
}

#footer-left a, #footer-right a, #center a{
    color: #5f5f5f;
}

#how {
    word-spacing: initial;
}

#footer-left {
    padding: 0px 150px 0px 30px;
    justify-content: center;
}

#footer-right {
    display: inline;
    margin-right: 30px;
    padding: 0px 0px 0px 247px;
    justify-content: center;
}

#center {
    display: inline;
    padding: 0px 150px 0px 130px;
    justify-content: center;
    word-spacing: initial;
}

#leaf {
    padding: 5px 5px 0 5px;
    width: 13px;
    user-select: none;
}*/