* {
    appearance: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: arial, sans-serif;
}

/* Top Nav bar */
.nav {
    color: #222;
    max-height: 50px;
    height: 100%;
    border: solid 2px red;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    padding: 5px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}



/* Top Nav bar - Changes needed*/
.grid-dots {
    outline: none;
    color: #5f6368;
    position: relative;
    margin-right: 55px;
}

.dots {
    position: absolute;
    height: 23px;
    width: 23px;
    color: #5f6368;
    border: solid 1px transparent;
    border-radius: 50%;
    border-width: 10px;
    margin-top: -3px;
}

.dots-grid:hover {
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    border-radius: 50%;
    border-width: 10px;
}

#SignIn {
    display: inline-block;
    background-color: #1a73e8;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 0 24px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#SignIn:hover {
    background: #2779e4;
}

/*a {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    height: 45px;
    margin: auto;
    width: 40%;
}

.topnav {
    color: #222;
    align-items: center;
    padding: 15px 15px 0px 25px;
    word-spacing: 10px;
}

#topnav-right {
    display: inline-block;
    margin-left: 74%;
}

.center {
    width: 100%;
    height: 93%;
}

#logo {
    margin-top: 170px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 19%;
}

#searchBar {
    all: unset;
    height: 100%;
    width: 100%;
    padding: 6px 15px 5px;
}

#form:hover {
    box-shadow: #dfe1e5 0 0 5px 1px;
}

#searchIcon {
    font-size: 16px;
    color: #a0a0a0;
    margin-left: 16px;
}*/

#micIcon {
    margin-right: 15px;
    height: 26px;
    width: 26px;
    padding-left: 10px;
}

/*
#GoSearch, #Lucky {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #000000;
    font-size: 14px;
    padding: 0 16px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    margin-top: 30px;
}

#GoSearch {
    margin-right: 7px;
    margin-left: 40%;
}

#GoSearch:hover, #Lucky:hover {
    border: 1px solid #e6e6e6;
}

.footer {
    min-height: 6%;
    height: auto;
    background-color: #f5f5f5;
    align-items: center;
    display: flex;
    flex-direction: row;
    word-spacing: 30px;
}

#footer-left a, #footer-right a, #center a{
    color: #5f5f5f;
}

#how {
    word-spacing: initial;
}

#footer-left {
    padding: 0px 150px 0px 30px;
    justify-content: center;
}

#footer-right {
    display: inline;
    margin-right: 30px;
    padding: 0px 0px 0px 247px;
    justify-content: center;
}

#center {
    display: inline;
    padding: 0px 150px 0px 130px;
    justify-content: center;
    word-spacing: initial;
}

#leaf {
    padding: 5px 5px 0 5px;
    width: 13px;
    user-select: none;
}*/